:root {
	--text-color: white;
	--alt-text-color: transparent;
	--background-color: #111;
	--gradient: linear-gradient(0deg, indigo, navy);
	--square-color: transparent;

	scroll-behavior: smooth;
}

.background_canvas {
  border:1px solid #000000;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: transparent;
  text-align: left;
  padding: 8px;
  z-index: -1;
}

.foreground {
  /* border:1px solid #000000; */
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: transparent;
  text-align: center;
  padding: 8px;
  z-index: 1;
}

body {
	/* full-height background */
	height: 100%;
	margin: 0;

	/* background color */
	background-color: var(--background-color);

	/* No horizontal scrollbar */
	overflow-x: hidden;
}

#background {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(6em);
}

#square {
	background-color: var(--square-color);
	position: absolute;
	width: 25vw;
	height: 20vh;
	bottom: 15vh;
	right: 35vw;
	z-index: -2;
}

#gradient {
	border-radius: 100%;
	position: absolute;
	width: 75vw;
	height: 90vh;
	bottom: 5vh;
	right: 15vw;
	z-index: -3;
	background-image: var(--gradient);
}

main {
	padding: 10vh 5vw;
}

nav,
section {
	padding: 0.5em 0;
}

img,
.tiles a:not(.list a) {
	margin: auto;
	max-width: 100%;
}


body,
input {
	font-family: "Fira Code", "Noto Emoji", monospace;
	color: var(--text-color);
}

h1 {
	font-size: 8vw;
	margin: 0;
	font-weight: 100;
  /* color: green; */
}
/* h1::after {
	content: "✨";
} */
h1,
h2 {
	text-align: center;
}

header {
	flex-direction: column;
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


nav,
.tiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.floating_avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px black;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
